* {
    font-family:cursive;
    font-size: 20px;
    background-color: lightsteelblue;
    margin: 0px;
}

h1 {
    background-color: darkgray;
    text-align: center;
    font-size: 50px;
    padding: 20px;
    margin-bottom: 10px;
}

h2 {
    text-decoration: underline;
    margin: 10px;
}

.Ingredients {
    font-size: 20px;
    margin-top: 0;
    text-align: start;
    padding-left: 10px;
}

ul {
    font-size: 50px;
    text-align: start;
    list-style-position: inside;
    padding-left: 35%;
}

a {
    font-size: 30px;
}

img {
    display: block;
    margin: auto;
}

ol li {
    margin-bottom: 15px;
}