* {
    font-family:cursive;
    font-size: 30px;
    background-color: lightsteelblue;
}

h1 {
    background-color: darkgray;
    text-align: center;
    font-size: 50px;
}

ul {
    margin-top:10%;
    text-align: center;
    list-style-position: inside;
}